Бот в своей работе внутренними часами настроен на конкретный часовой пояс (в текущих настройках -
это город Владивосток (+6 от Москвы, +9 от времени UTC). <br>
Для корректной работы оповещений, если Ваш часовой пояс отличается от часового пояса бота -
Вам необходимо установить собственный часовой пояс, чтобы бот его запомнил, и корректно присылал
Вам уведомления в правильное время. <br>
Если часовой пояс совпадает с Владивостоком - вернитесь назад, у вас все корректно работает. <br>
<br>
Если Ваш часовой пояс отличается - введите Ваше текущее время, в формате:
{{ TIME_FORMAT_USER }} <br>
<br>
Например:
<code>{{ now|time }}</code> (это время бота, кстати) <br>
<br>
Можете скопировать это время (нажав на него), вставить, подправить час (или минуты), и отправить
боту. Он запомнит разницу времени, и будет присылать уведомления в строго нужное время.
